

@import helper._

<p style="background:green; width:900px; height:600px; margin-right:100px;margin-left:250px; color:#ffffff;">
@main(" welcome to my Business Directory"){

<a href="/registerBusiness" class='btn btn-success span2'  >Click here to register your business</a>
<a href="/search" class='btn btn-success span2'>search for your information</a>
<a href="/Location" class='btn btn-success span2'> Location of Business </a>
<a href="/addAdminPage" class='btn btn-success span2'> Admin Login </a>


</p>


}