@import helper._

@main(" welcome to my Business Directory"){
   <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Business Yellow Pages</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <a href="/login" class="navbar-link">Login</a>
            </p>
            <ul class="nav">
              <li><a href="/login">Register Elephant</a></li>
              
              <li><a href="#about">About us</a></li>
             <li>
			  <input type="text" class="input-high search-query">  
			  <button type="submit" class="btn" >Search</button>  
			 </li>
              
            </ul>
            
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <p style="background:green; width:900px; height:600px; margin-right:100px;margin-left:250px; color:#ffffff;">
    <!--<table border = "3" align = "center" bgcolor = "Yellow" width = 40% >
   <tr>-->
  <!-- <td align="center">-->
<!--<a href="/registerBusiness" class='btn btn-success span2'   >Click here to register your business</a>-->
<!--<a href="/search" class='btn btn-success span2'>search for your information</a>-->
<!--<a href="/addAdminPage" class='btn btn-success span2'> Admin Login </a>-->


</p>


}