@(businesses : List[Business], businessForm : Form[Business])

@import helper._

@main("Register"){
<div style="background:#4081b7; padding:80px; margin:auto; width:900px;color:#fff;">

<table align = "center" bgcolor = "green" width = 80%  class 'btn' btn-success span "2">
   <tr>
   <td align="center">
   -- <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Business Yellow Pages</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <a href="/login" class="navbar-link">Login</a>
            </p>
            <ul class="nav">
              <li><a href="/login">Add Business</a></li>
              <li><a href="#about">About us</a></li>
             <li>
			  <input type="text" class="input-high search-query">  
			  <button type="submit" class="btn">Search</button>  
			 </li>
              
            </ul>
            
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <br><br><br>
    <table border = "3" align = "center" bgcolor = "Yellow" width = 40% >
   <tr>
   <td align="center">   
  
    <h2>Add your new Business</h2>
    
    @form(action=routes.Application.newBusiness()) {
        
        @helper.inputText(businessForm("businessEmail"),'_label ->"email")
        @helper.inputText(businessForm("businessPhoneNumber"),'_label -> "phoneNumber")
        @helper.inputText(businessForm("businessName"),'_label -> "Name")
        @select(businessForm("businessType"),options(Seq("Restaurants","Hotels","Hostels","Houses")),'_label ->"Business Type",'_default->"--Select The type of your Business--")
        @inputText(businessForm("businessDescription"), '_label->"Business Description")
         <input type="submit" value="Create Business">
        <a class="btn btn-success span2"  href="@routes.Application.goToBusinessListPage("")"> Show all businesses </a>
        </td>
        </tr>
        </table>
       
     
        
    
</div>
}



}
